In [86]:
import pandas as pd

In [87]:
df = pd.read_csv('preprocessed_telco_churn.csv')
df.head()

   Unnamed: 0  customerID  gender  ...  MonthlyCharges  TotalCharges  Churn
0           0  7590-VHVEG  Female  ...           29.85         29.85      0
1           1  5575-GNVDE    Male  ...           56.95       1889.50      0
2           2  3668-QPYBK    Male  ...           53.85        108.15      1
3           3  7795-CFOCW    Male  ...           42.30       1840.75      0
4           4  9237-HQITU  Female  ...           70.70        151.65      1

[5 rows x 22 columns]

In [88]:
features = df[['SeniorCitizen','Partner','Dependents','tenure','InternetService','StreamingTV','StreamingMovies','Contract','PaymentMethod','MonthlyCharges','TotalCharges']]
target = df['Churn']

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression


model = LogisticRegression(max_iter=518)
x_train,x_test,y_train,y_test = train_test_split(features,target,test_size=0.3,random_state=1)

model.fit(x_train,y_train)

y_pred = model.predict(x_test)

model.score(x_test,y_test)

0.8069096071935636