In [237]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [238]:
r_df = pd.read_csv('Responses.csv')
r_df

,Timestamp,gender,SIM Operator,Does anyone in your house/friend group utilize the same sim operator as you?,Since how many years have you been using the same operator's serivces?,do you use the internet services?,does your operator provide TV streaming services? (live tv),"does your operator provide movie streaming services? (netflix, hotstar etc)",what is the subcription tenure for your sim services?,what is your payment method generally for purchasing/renewing the subscription?,how much does your subscription cost?,do you use a second sim with a different operator?
0,9/3/2025 3:34:13,Female,Airtel,Yes,3.0,Yes,Yes,Yes,Monthly,UPI,599.0,No
1,9/3/2025 3:55:26,Male,Jio,Yes,5.0,Yes,Yes,Yes,Monthly,UPI,899.0,No
2,9/3/2025 3:58:54,Male,Airtel,Yes,9.0,Yes,Yes,Yes,Monthly,UPI,NaN,No
3,9/3/2025 4:06:16,Male,Jio,Yes,7.0,Yes,Yes,Yes,Monthly,UPI,700.0,No
4,9/3/2025 6:05:15,Male,Jio,Yes,5.0,Yes,Yes,Yes,Yearly,UPI,1899.0,No
5,9/3/2025 6:06:19,Male,Airtel,Yes,5.0,Yes,Yes,Yes,Monthly,UPI,1500.0,No
6,9/3/2025 6:09:16,Female,Jio,Yes,4.0,Yes,Yes,No,Monthly,UPI,899.0,No
7,9/3/2025 6:28:36,Female,Jio,Yes,5.0,Yes,Yes,Yes,Monthly,UPI,NaN,No
8,9/3/2025 6:39:32,Male,Jio,Yes,2.0,Yes,Yes,Yes,Monthly,UPI,249.0,No
9,9/3/2025 6:48:14,Male,Jio,Yes,5.0,Yes,Yes,Yes,Monthly,UPI,884.0,Yes
10,9/3/2025 7:07:17,Female,Airtel,No,1.0,Yes,Yes,Yes,Monthly,UPI,NaN,No
11,9/3/2025 7:20:59,Male,Jio,No,6.0,Yes,No,No,Yearly,UPI,3500.0,No
12,9/3/2025 7:29:35,Male,Jio,Yes,4.0,Yes,No,Yes,Monthly,UPI,799.0,No
13,9/3/2025 7:32:25,Female,Airtel,Yes,5.0,Yes,Yes,Yes,NaN,Credit Card,NaN,No
14,9/3/2025 7:45:36,Male,Jio,Yes,5.0,Yes,No,Yes,Monthly,UPI,349.0,Yes
15,9/3/2025 7:46:17,Male,Jio,Yes,4.0,Yes,Yes,Yes,Monthly,UPI,NaN,No
16,9/3/2025 7:49:27,Male,Jio,Yes,2.0,Yes,No,Yes,Monthly,UPI,900.0,No
17,9/3/2025 8:19:56,Male,Jio,Yes,9.0,Yes,Yes,Yes,Monthly,UPI,NaN,Yes
18,9/3/2025 8:27:23,Male,Jio,Yes,1.0,Yes,No,No,Monthly,UPI,NaN,No
19,9/3/2025 8:27:52,Male,Vi,Yes,2.0,Yes,No,No,Monthly,UPI,299.0,No
20,9/3/2025 8:43:22,Female,Airtel,Yes,5.0,Yes,Yes,Yes,Monthly,Credit Card,NaN,No
21,9/3/2025 8:50:21,Female,Jio,Yes,6.0,Yes,Yes,Yes,Monthly,UPI,900.0,No
22,9/3/2025 8:58:26,Male,Airtel,Yes,2.0,Yes,No,Yes,Monthly,UPI,NaN,Yes
23,9/3/2025 9:11:50,Male,Jio,Yes,5.0,Yes,No,No,Monthly,UPI,NaN,No
24,9/3/2025 9:36:14,Female,Airtel,Yes,6.0,Yes,No,Yes,Monthly,UPI,NaN,No
25,9/3/2025 10:02:55,Male,Airtel,Yes,5.0,Yes,No,No,Monthly,UPI,399.0,No
26,9/3/2025 11:17:29,Male,NaN,NaN,NaN,Yes,No,No,Monthly,NaN,NaN,Yes
27,9/3/2025 11:23:09,Male,Jio,Yes,10.0,Yes,Yes,Yes,Yearly,UPI,3999.0,No
28,9/3/2025 11:26:20,Male,Airtel,Yes,3.0,Yes,No,No,Monthly,Bank Transfer,825.0,Yes
29,9/3/2025 11:30:19,Male,Jio,Yes,4.0,Yes,Yes,Yes,Yearly,Credit Card,4300.0,No
30,9/3/2025 11:30:20,Female,Airtel,No,10.0,Yes,Yes,Yes,Monthly,UPI,NaN,No
31,9/3/2025 11:44:21,Male,Vi,Yes,10.0,Yes,Yes,Yes,Monthly,UPI,1000.0,Yes
32,9/3/2025 11:47:48,Female,Airtel,Yes,10.0,Yes,Yes,Yes,Yearly,Bank Transfer,NaN,No
33,9/3/2025 11:47:48,Female,Jio,No,1.0,Yes,Yes,Yes,Monthly,UPI,NaN,Yes
34,9/3/2025 12:12:16,Female,Airtel,Yes,8.0,Yes,Yes,Yes,Yearly,UPI,NaN,No
35,9/3/2025 12:29:02,Male,Airtel,Yes,9.0,Yes,Yes,Yes,Monthly,UPI,499.0,Yes
36,9/3/2025 16:00:58,Female,Jio,Yes,7.0,No,Yes,Yes,Monthly,UPI,399.0,Yes
37,9/3/2025 16:08:12,Female,Vi,Yes,4.0,Yes,Yes,Yes,Monthly,UPI,899.0,No
38,9/3/2025 16:20:27,Male,Airtel,Yes,5.0,Yes,No,No,Monthly,UPI,239.0,No
39,9/3/2025 16:52:59,Male,Jio,Yes,4.0,Yes,Yes,Yes,Yearly,Manual(from offline store),2599.0,No
40,9/3/2025 17:56:46,Female,Airtel,Yes,3.0,Yes,No,No,Monthly,Bank Transfer,941.0,No

In [239]:
r_df.drop(columns=['Timestamp','SIM Operator'],inplace=True)

In [240]:
r_df.columns = ['gender','Partner','tenure','InternetService','StreamingTV','StreamingMovies','Contract','PaymentMethod','MonthlyCharges','Churn']
r_df

,gender,Partner,tenure,InternetService,StreamingTV,StreamingMovies,Contract,PaymentMethod,MonthlyCharges,Churn
0,Female,Yes,3.0,Yes,Yes,Yes,Monthly,UPI,599.0,No
1,Male,Yes,5.0,Yes,Yes,Yes,Monthly,UPI,899.0,No
2,Male,Yes,9.0,Yes,Yes,Yes,Monthly,UPI,NaN,No
3,Male,Yes,7.0,Yes,Yes,Yes,Monthly,UPI,700.0,No
4,Male,Yes,5.0,Yes,Yes,Yes,Yearly,UPI,1899.0,No
5,Male,Yes,5.0,Yes,Yes,Yes,Monthly,UPI,1500.0,No
6,Female,Yes,4.0,Yes,Yes,No,Monthly,UPI,899.0,No
7,Female,Yes,5.0,Yes,Yes,Yes,Monthly,UPI,NaN,No
8,Male,Yes,2.0,Yes,Yes,Yes,Monthly,UPI,249.0,No
9,Male,Yes,5.0,Yes,Yes,Yes,Monthly,UPI,884.0,Yes
10,Female,No,1.0,Yes,Yes,Yes,Monthly,UPI,NaN,No
11,Male,No,6.0,Yes,No,No,Yearly,UPI,3500.0,No
12,Male,Yes,4.0,Yes,No,Yes,Monthly,UPI,799.0,No
13,Female,Yes,5.0,Yes,Yes,Yes,NaN,Credit Card,NaN,No
14,Male,Yes,5.0,Yes,No,Yes,Monthly,UPI,349.0,Yes
15,Male,Yes,4.0,Yes,Yes,Yes,Monthly,UPI,NaN,No
16,Male,Yes,2.0,Yes,No,Yes,Monthly,UPI,900.0,No
17,Male,Yes,9.0,Yes,Yes,Yes,Monthly,UPI,NaN,Yes
18,Male,Yes,1.0,Yes,No,No,Monthly,UPI,NaN,No
19,Male,Yes,2.0,Yes,No,No,Monthly,UPI,299.0,No
20,Female,Yes,5.0,Yes,Yes,Yes,Monthly,Credit Card,NaN,No
21,Female,Yes,6.0,Yes,Yes,Yes,Monthly,UPI,900.0,No
22,Male,Yes,2.0,Yes,No,Yes,Monthly,UPI,NaN,Yes
23,Male,Yes,5.0,Yes,No,No,Monthly,UPI,NaN,No
24,Female,Yes,6.0,Yes,No,Yes,Monthly,UPI,NaN,No
25,Male,Yes,5.0,Yes,No,No,Monthly,UPI,399.0,No
26,Male,NaN,NaN,Yes,No,No,Monthly,NaN,NaN,Yes
27,Male,Yes,10.0,Yes,Yes,Yes,Yearly,UPI,3999.0,No
28,Male,Yes,3.0,Yes,No,No,Monthly,Bank Transfer,825.0,Yes
29,Male,Yes,4.0,Yes,Yes,Yes,Yearly,Credit Card,4300.0,No
30,Female,No,10.0,Yes,Yes,Yes,Monthly,UPI,NaN,No
31,Male,Yes,10.0,Yes,Yes,Yes,Monthly,UPI,1000.0,Yes
32,Female,Yes,10.0,Yes,Yes,Yes,Yearly,Bank Transfer,NaN,No
33,Female,No,1.0,Yes,Yes,Yes,Monthly,UPI,NaN,Yes
34,Female,Yes,8.0,Yes,Yes,Yes,Yearly,UPI,NaN,No
35,Male,Yes,9.0,Yes,Yes,Yes,Monthly,UPI,499.0,Yes
36,Female,Yes,7.0,No,Yes,Yes,Monthly,UPI,399.0,Yes
37,Female,Yes,4.0,Yes,Yes,Yes,Monthly,UPI,899.0,No
38,Male,Yes,5.0,Yes,No,No,Monthly,UPI,239.0,No
39,Male,Yes,4.0,Yes,Yes,Yes,Yearly,Manual(from offline store),2599.0,No
40,Female,Yes,3.0,Yes,No,No,Monthly,Bank Transfer,941.0,No

In [241]:
r_df.isnull().sum()

gender              0
Partner             1
tenure              1
InternetService     0
StreamingTV         0
StreamingMovies     0
Contract            1
PaymentMethod       1
MonthlyCharges     16
Churn               0
dtype: int64

In [242]:
def trinarizer(df,col):
    tri_lst = []
    for val in df[col]:
        if val == 'Yes':
            tri_lst.append(1)
        elif val == 'No':
            tri_lst.append(0)
        elif val == 'Monthly':
            tri_lst.append(1)
        elif val == 'Yearly':
            tri_lst.append(2)
        elif val == np.nan:
            tri_lst.append(np.nan)
            print(1)
    df[col] = tri_lst

In [243]:
r_df['MonthlyCharges'] = r_df['MonthlyCharges'].fillna(r_df['MonthlyCharges'].mean())
r_df['tenure'] = r_df['tenure'].fillna(r_df['tenure'].mode()[0])
r_df['Partner'] = r_df['Partner'].fillna(r_df['Partner'].mode()[0])
r_df['Contract'] = r_df['Contract'].fillna(r_df['Contract'].mode()[0])
r_df['PaymentMethod'] = r_df['PaymentMethod'].fillna(r_df['PaymentMethod'].mode()[0])
r_df.isnull().sum()

gender             0
Partner            0
tenure             0
InternetService    0
StreamingTV        0
StreamingMovies    0
Contract           0
PaymentMethod      0
MonthlyCharges     0
Churn              0
dtype: int64

In [244]:
tot_charge = []
for tenure,charge,contr in zip(r_df['tenure'],r_df['MonthlyCharges'],r_df['Contract']):
    if contr == 'Yearly':
        res = tenure*charge/80
    elif contr == 'Monthly':
        res = tenure*12*charge/80
    tot_charge.append(res)
r_df['TotalCharges'] = tot_charge
r_df['MonthlyCharges'] = r_df['MonthlyCharges']/80

In [245]:
cols = ['Partner','Contract','InternetService','StreamingTV','StreamingMovies','Churn']
for val in cols:
    trinarizer(r_df,val)
r_df

,gender,Partner,tenure,InternetService,StreamingTV,StreamingMovies,Contract,PaymentMethod,MonthlyCharges,Churn,TotalCharges
0,Female,1,3.0,1,1,1,1,UPI,7.4875,0,269.5500
1,Male,1,5.0,1,1,1,1,UPI,11.2375,0,674.2500
2,Male,1,9.0,1,1,1,1,UPI,15.2375,0,1645.6500
3,Male,1,7.0,1,1,1,1,UPI,8.7500,0,735.0000
4,Male,1,5.0,1,1,1,2,UPI,23.7375,0,118.6875
5,Male,1,5.0,1,1,1,1,UPI,18.7500,0,1125.0000
6,Female,1,4.0,1,1,0,1,UPI,11.2375,0,539.4000
7,Female,1,5.0,1,1,1,1,UPI,15.2375,0,914.2500
8,Male,1,2.0,1,1,1,1,UPI,3.1125,0,74.7000
9,Male,1,5.0,1,1,1,1,UPI,11.0500,1,663.0000
10,Female,0,1.0,1,1,1,1,UPI,15.2375,0,182.8500
11,Male,0,6.0,1,0,0,2,UPI,43.7500,0,262.5000
12,Male,1,4.0,1,0,1,1,UPI,9.9875,0,479.4000
13,Female,1,5.0,1,1,1,1,Credit Card,15.2375,0,914.2500
14,Male,1,5.0,1,0,1,1,UPI,4.3625,1,261.7500
15,Male,1,4.0,1,1,1,1,UPI,15.2375,0,731.4000
16,Male,1,2.0,1,0,1,1,UPI,11.2500,0,270.0000
17,Male,1,9.0,1,1,1,1,UPI,15.2375,1,1645.6500
18,Male,1,1.0,1,0,0,1,UPI,15.2375,0,182.8500
19,Male,1,2.0,1,0,0,1,UPI,3.7375,0,89.7000
20,Female,1,5.0,1,1,1,1,Credit Card,15.2375,0,914.2500
21,Female,1,6.0,1,1,1,1,UPI,11.2500,0,810.0000
22,Male,1,2.0,1,0,1,1,UPI,15.2375,1,365.7000
23,Male,1,5.0,1,0,0,1,UPI,15.2375,0,914.2500
24,Female,1,6.0,1,0,1,1,UPI,15.2375,0,1097.1000
25,Male,1,5.0,1,0,0,1,UPI,4.9875,0,299.2500
26,Male,1,5.0,1,0,0,1,UPI,15.2375,1,914.2500
27,Male,1,10.0,1,1,1,2,UPI,49.9875,0,499.8750
28,Male,1,3.0,1,0,0,1,Bank Transfer,10.3125,1,371.2500
29,Male,1,4.0,1,1,1,2,Credit Card,53.7500,0,215.0000
30,Female,0,10.0,1,1,1,1,UPI,15.2375,0,1828.5000
31,Male,1,10.0,1,1,1,1,UPI,12.5000,1,1500.0000
32,Female,1,10.0,1,1,1,2,Bank Transfer,15.2375,0,152.3750
33,Female,0,1.0,1,1,1,1,UPI,15.2375,1,182.8500
34,Female,1,8.0,1,1,1,2,UPI,15.2375,0,121.9000
35,Male,1,9.0,1,1,1,1,UPI,6.2375,1,673.6500
36,Female,1,7.0,0,1,1,1,UPI,4.9875,1,418.9500
37,Female,1,4.0,1,1,1,1,UPI,11.2375,0,539.4000
38,Male,1,5.0,1,0,0,1,UPI,2.9875,0,179.2500
39,Male,1,4.0,1,1,1,2,Manual(from offline store),32.4875,0,129.9500
40,Female,1,3.0,1,0,0,1,Bank Transfer,11.7625,0,423.4500

In [246]:
vals = []
for val in r_df['PaymentMethod']:
    if val == 'UPI':
        vals.append(1)
    elif val == 'Credit Card':
        vals.append(3)
    elif val == 'Bank Transfer':
        vals.append(2)
    elif val == 'Manual(from offline store)':
        vals.append(0)
r_df['PaymentMethod'] = vals
r_df

,gender,Partner,tenure,InternetService,StreamingTV,StreamingMovies,Contract,PaymentMethod,MonthlyCharges,Churn,TotalCharges
0,Female,1,3.0,1,1,1,1,1,7.4875,0,269.5500
1,Male,1,5.0,1,1,1,1,1,11.2375,0,674.2500
2,Male,1,9.0,1,1,1,1,1,15.2375,0,1645.6500
3,Male,1,7.0,1,1,1,1,1,8.7500,0,735.0000
4,Male,1,5.0,1,1,1,2,1,23.7375,0,118.6875
5,Male,1,5.0,1,1,1,1,1,18.7500,0,1125.0000
6,Female,1,4.0,1,1,0,1,1,11.2375,0,539.4000
7,Female,1,5.0,1,1,1,1,1,15.2375,0,914.2500
8,Male,1,2.0,1,1,1,1,1,3.1125,0,74.7000
9,Male,1,5.0,1,1,1,1,1,11.0500,1,663.0000
10,Female,0,1.0,1,1,1,1,1,15.2375,0,182.8500
11,Male,0,6.0,1,0,0,2,1,43.7500,0,262.5000
12,Male,1,4.0,1,0,1,1,1,9.9875,0,479.4000
13,Female,1,5.0,1,1,1,1,3,15.2375,0,914.2500
14,Male,1,5.0,1,0,1,1,1,4.3625,1,261.7500
15,Male,1,4.0,1,1,1,1,1,15.2375,0,731.4000
16,Male,1,2.0,1,0,1,1,1,11.2500,0,270.0000
17,Male,1,9.0,1,1,1,1,1,15.2375,1,1645.6500
18,Male,1,1.0,1,0,0,1,1,15.2375,0,182.8500
19,Male,1,2.0,1,0,0,1,1,3.7375,0,89.7000
20,Female,1,5.0,1,1,1,1,3,15.2375,0,914.2500
21,Female,1,6.0,1,1,1,1,1,11.2500,0,810.0000
22,Male,1,2.0,1,0,1,1,1,15.2375,1,365.7000
23,Male,1,5.0,1,0,0,1,1,15.2375,0,914.2500
24,Female,1,6.0,1,0,1,1,1,15.2375,0,1097.1000
25,Male,1,5.0,1,0,0,1,1,4.9875,0,299.2500
26,Male,1,5.0,1,0,0,1,1,15.2375,1,914.2500
27,Male,1,10.0,1,1,1,2,1,49.9875,0,499.8750
28,Male,1,3.0,1,0,0,1,2,10.3125,1,371.2500
29,Male,1,4.0,1,1,1,2,3,53.7500,0,215.0000
30,Female,0,10.0,1,1,1,1,1,15.2375,0,1828.5000
31,Male,1,10.0,1,1,1,1,1,12.5000,1,1500.0000
32,Female,1,10.0,1,1,1,2,2,15.2375,0,152.3750
33,Female,0,1.0,1,1,1,1,1,15.2375,1,182.8500
34,Female,1,8.0,1,1,1,2,1,15.2375,0,121.9000
35,Male,1,9.0,1,1,1,1,1,6.2375,1,673.6500
36,Female,1,7.0,0,1,1,1,1,4.9875,1,418.9500
37,Female,1,4.0,1,1,1,1,1,11.2375,0,539.4000
38,Male,1,5.0,1,0,0,1,1,2.9875,0,179.2500
39,Male,1,4.0,1,1,1,2,0,32.4875,0,129.9500
40,Female,1,3.0,1,0,0,1,2,11.7625,0,423.4500

In [ ]:
x = [0]*len(r_df)
r_df['SeniorCitizen'] = x
r_df['tenure'] = r_df['tenure']*12
r_df

,gender,Partner,tenure,InternetService,StreamingTV,StreamingMovies,Contract,PaymentMethod,MonthlyCharges,Churn,TotalCharges,SeniorCitizen
0,Female,1,36.0,1,1,1,1,1,7.4875,0,269.5500,0
1,Male,1,60.0,1,1,1,1,1,11.2375,0,674.2500,0
2,Male,1,108.0,1,1,1,1,1,15.2375,0,1645.6500,0
3,Male,1,84.0,1,1,1,1,1,8.7500,0,735.0000,0
4,Male,1,60.0,1,1,1,2,1,23.7375,0,118.6875,0
5,Male,1,60.0,1,1,1,1,1,18.7500,0,1125.0000,0
6,Female,1,48.0,1,1,0,1,1,11.2375,0,539.4000,0
7,Female,1,60.0,1,1,1,1,1,15.2375,0,914.2500,0
8,Male,1,24.0,1,1,1,1,1,3.1125,0,74.7000,0
9,Male,1,60.0,1,1,1,1,1,11.0500,1,663.0000,0
10,Female,0,12.0,1,1,1,1,1,15.2375,0,182.8500,0
11,Male,0,72.0,1,0,0,2,1,43.7500,0,262.5000,0
12,Male,1,48.0,1,0,1,1,1,9.9875,0,479.4000,0
13,Female,1,60.0,1,1,1,1,3,15.2375,0,914.2500,0
14,Male,1,60.0,1,0,1,1,1,4.3625,1,261.7500,0
15,Male,1,48.0,1,1,1,1,1,15.2375,0,731.4000,0
16,Male,1,24.0,1,0,1,1,1,11.2500,0,270.0000,0
17,Male,1,108.0,1,1,1,1,1,15.2375,1,1645.6500,0
18,Male,1,12.0,1,0,0,1,1,15.2375,0,182.8500,0
19,Male,1,24.0,1,0,0,1,1,3.7375,0,89.7000,0
20,Female,1,60.0,1,1,1,1,3,15.2375,0,914.2500,0
21,Female,1,72.0,1,1,1,1,1,11.2500,0,810.0000,0
22,Male,1,24.0,1,0,1,1,1,15.2375,1,365.7000,0
23,Male,1,60.0,1,0,0,1,1,15.2375,0,914.2500,0
24,Female,1,72.0,1,0,1,1,1,15.2375,0,1097.1000,0
25,Male,1,60.0,1,0,0,1,1,4.9875,0,299.2500,0
26,Male,1,60.0,1,0,0,1,1,15.2375,1,914.2500,0
27,Male,1,120.0,1,1,1,2,1,49.9875,0,499.8750,0
28,Male,1,36.0,1,0,0,1,2,10.3125,1,371.2500,0
29,Male,1,48.0,1,1,1,2,3,53.7500,0,215.0000,0
30,Female,0,120.0,1,1,1,1,1,15.2375,0,1828.5000,0
31,Male,1,120.0,1,1,1,1,1,12.5000,1,1500.0000,0
32,Female,1,120.0,1,1,1,2,2,15.2375,0,152.3750,0
33,Female,0,12.0,1,1,1,1,1,15.2375,1,182.8500,0
34,Female,1,96.0,1,1,1,2,1,15.2375,0,121.9000,0
35,Male,1,108.0,1,1,1,1,1,6.2375,1,673.6500,0
36,Female,1,84.0,0,1,1,1,1,4.9875,1,418.9500,0
37,Female,1,48.0,1,1,1,1,1,11.2375,0,539.4000,0
38,Male,1,60.0,1,0,0,1,1,2.9875,0,179.2500,0
39,Male,1,48.0,1,1,1,2,0,32.4875,0,129.9500,0
40,Female,1,36.0,1,0,0,1,2,11.7625,0,423.4500,0

In [248]:
r_df.groupby('gender').Churn.sum()

gender
Female    2
Male      8
Name: Churn, dtype: int64