In [48]:
import pandas as pd

In [49]:
df = pd.read_csv('preprocessed_telco_churn.csv')
df = df[['SeniorCitizen','tenure','InternetService','StreamingTV','StreamingMovies','Contract','PaymentMethod','MonthlyCharges','TotalCharges','PaperlessBilling','Churn']]
df.head()

,SeniorCitizen,tenure,InternetService,StreamingTV,StreamingMovies,Contract,PaymentMethod,MonthlyCharges,TotalCharges,PaperlessBilling,Churn
0,0,1,1,0,0,0,1,29.85,29.85,1,0
1,0,34,1,0,0,1,0,56.95,1889.50,0,0
2,0,2,1,0,0,0,0,53.85,108.15,1,1
3,0,45,1,0,0,1,2,42.30,1840.75,0,0
4,0,2,2,0,0,0,1,70.70,151.65,1,1

In [50]:
df2 = pd.read_csv('preprocessed_raw.csv')
df2 = df2[['SeniorCitizen','tenure','InternetService','StreamingTV','StreamingMovies','Contract','PaymentMethod','MonthlyCharges','TotalCharges','PaperlessBilling','Churn']]
df2.head()

,SeniorCitizen,tenure,InternetService,StreamingTV,StreamingMovies,Contract,PaymentMethod,MonthlyCharges,TotalCharges,PaperlessBilling,Churn
0,0,36.0,1,1,1,1,1,7.4875,269.5500,1,0
1,0,60.0,1,1,1,1,1,11.2375,674.2500,1,0
2,0,108.0,1,1,1,1,1,15.2375,1645.6500,1,0
3,0,84.0,1,1,1,1,1,8.7500,735.0000,1,0
4,0,60.0,1,1,1,2,1,23.7375,118.6875,1,0

In [51]:
df_final = pd.concat([df,df2],ignore_index=True)
df_final.tail()

,SeniorCitizen,tenure,InternetService,StreamingTV,StreamingMovies,Contract,PaymentMethod,MonthlyCharges,TotalCharges,PaperlessBilling,Churn
7079,0,84.0,0,1,1,1,1,4.9875,418.95,1,1
7080,0,48.0,1,1,1,1,1,11.2375,539.40,1,0
7081,0,60.0,1,0,0,1,1,2.9875,179.25,1,0
7082,0,48.0,1,1,1,2,0,32.4875,129.95,0,0
7083,0,36.0,1,0,0,1,2,11.7625,423.45,1,0

In [52]:
features = df_final[['SeniorCitizen','tenure','InternetService','StreamingTV','StreamingMovies','Contract','PaymentMethod','MonthlyCharges','TotalCharges']]
target = df_final['Churn']

In [66]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression


model = LogisticRegression(max_iter=756)
x_train,x_test,y_train,y_test = train_test_split(features,target,test_size=0.3,random_state=1)

model.fit(x_train,y_train)

y_pred = model.predict(x_test)

model.score(x_test,y_test)

0.8015051740357478